<div class="companies-container">
  <div class="container">
    <div class="col-lg-3 col-md-12">
      <div class="title">
        <h1>Clients</h1>
      </div>
    </div>
      <div class="companies-content">
				<div class="company">
					<a href="#">
						<img src="../../../../assets/img/company-1.png" alt="">
					</a>
				</div>
				<div class="company">
					<a href="#">
						<img src="../../../../assets/img/company-2.png" alt="">
					</a>
				</div>
				<div class="company aux">
					<a href="#">
						<img src="../../../../assets/img/company-3.png" alt="">
					</a>
				</div>
				<div class="company last-company">
					<a href="#">
						<img src="../../../../assets/img/company-4.png" alt="">
					</a>
				</div>
			</div>

  </div>
</div>
