<div class="projects-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-4">
        <div class="title">
          <h1>Projects</h1>
        </div>
      </div>
      <div class="col-lg-9 filter-section">
        <ul class="filter">
          <li class="active-option">All</li>
          <li>Restaurations</li>
          <li>Buildings</li>
          <li>Apartments</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="projects">
    <div class="col-md-3 col-sm-2">
      <div
        class="box"
        style="
          background-image: url('../../../../assets/img/project-1.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div class="hover">
          <h2>Biggest</h2>
          <h2>Restaurations</h2>
          <p>Jan 19, 2018</p>
          <a href="#" class="see-more">See Project </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-2 aux">
      <div
        class="box"
        style="
          background-image: url('../../../../assets/img/project-2.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div class="hover">
          <h2>Office</h2>
          <h2>Building</h2>
          <p>Jan 19, 2018</p>
          <a href="#" class="see-more">See Project </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-2 aux">
      <div
        class="box"
        style="
          background-image: url('../../../../assets/img/project-3.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div class="hover">
          <h2>Nice</h2>
          <h2>Apartments</h2>
          <p>Jan 19, 2018</p>
          <a href="#" class="see-more">See Project </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-2 last-project">
      <div
        class="box"
        style="
          background-image: url('../../../../assets/img/project-4.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div class="hover">
          <h2>Biggest</h2>
          <h2>Restaurations</h2>
          <p>Jan 19, 2018</p>
          <a href="#" class="see-more">See Project </a>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation col-lg-9 col-md-12">
    <div class="prev">
      <span><i class="fa fa-arrow-left"></i> PREV</span>
    </div>
    <div class="next">
      <span>NEXT <i class="fa fa-arrow-right"></i></span>
    </div>
  </div>
</div>
