$border-color: #c8c8c8;
$green-color:#baff00;
$black-color: #222222;
$gray-color:  #737373;
.footer {
    padding-top: 110px;
    padding-bottom: 110px;
    border-top: 1px solid $border-color;
    position: relative;

   .copyright {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 60px;
    color: $gray-color;
  }
  
   .footer-social-bar {
    width: 75px;
    text-align: center;
    position: absolute;
    right: 60px;
    top: -55px;
    padding-top: 20px;
    background: $black-color;

    .footer-social-links a {
      display: block;
      color: $gray-color;
      margin-bottom: 20px;
      font-size: 20px;
      transition: all 0.4s;
    }
    
    .footer-social-links a:hover {
      color: $green-color;
    }
  }
  
  .items ul {
    list-style: none;
    & li {
      display: block;
      margin-bottom: 10px;
      & a {
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        color: $black-color;
        padding: 0 5px;
      }
      & a:hover {
        background: $green-color;
      }
    }
  }
  
}