$bacground-bar: #121212;
$links-color: #838383;
$color: #baff00;
$white-color: #fff;

.data-content {
  height: 970px;
  background-image: url("../../../../assets/img/principal-bg.jpg"); //Foto de diseño de interiores creado por rawpixel.com - www.freepik.es
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  .social-bar {
    position: relative;
    width: 100px;
    height: 100%;
    background: $bacground-bar;
    z-index: 20;

    .social-bar-content {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      margin-bottom: 90px;

      .social-bar-links a {
        display: block;
        color: $links-color;
        margin-bottom: 20px;
        font-size: 20px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }

      .social-bar-links a:hover {
        color: $color;
      }
    }
  }

  .text-section {
    .text-section-content {
      width: 100%;
      height: 960px;
      display: table;

      .text-section-item {
        display: table-cell;
        vertical-align: middle;
        position: relative;

        .item-content {
          max-width: 690px;
          margin-left: 426px;
          margin-bottom: 50px;
          padding-top: 170px;
          padding-bottom: 70px;
          position: relative;
          transition: all 0.6s;
        }

        .item-content:after {
          position: absolute;
          content: "";
          height: calc(100% + 50px);
          width: 330px;
          border-top: 150px solid $color;
          border-left: 150px solid $color;
          border-bottom: 90px solid $color;
          top: 2%;
          left: -37%;
          opacity: 0.73;
        }

        .item-content h2 {
          color: $white-color;
          font-size: 80px;
          font-weight: bold;
          line-height: 80px;
        }

        .text-section-btn {
          display: inline-block;
          font-weight: 700;
          color: $white-color;
          text-decoration: none;
          border: 4px solid $white-color;
          min-width: 200px;
          text-align: center;
          padding: 19px 0;
          position: relative;
          background-color: transparent;
          margin-right: 15px;
          z-index: 1;
          transition: 0.3s ease-out;
        }

        .text-section-btn:after,
        .text-section-btn:before {
          position: absolute;
          content: "";
          width: 26px;
          height: 4px;
          right: -15px;
          background: $white-color;
          color: $white-color;
        }

        .text-section-btn:after {
          bottom: 8px;
        }

        .text-section-btn:before {
          bottom: 18px;
        }
      }
    }

    .navigation {
      position: absolute;
      display: inline-block;
      bottom: 10%;
      left: 17%;

      .prev,
      .next {
        display: inline-block;
        cursor: pointer;
        margin-right: 30px;
        font-size: 14px;
        font-weight: 700;
        color: $white-color;
        letter-spacing: 1px;
        transition: all 0.4s;
      }

      .prev:hover,
      .next:hover {
        color: $color;
      }
    }

    .vertical-text span {
      position: absolute;
      right: 10%;
      transform: rotate(-90deg);
      transform-origin: right center;
      bottom: 67%;
      z-index: 30;
      color: $white-color !important;
      text-transform: uppercase;
      letter-spacing: 20px;
    }

    .counter {
      width: 153px;
      height: 250px;
      position: absolute;
      right: 6%;
      bottom: -1%;
      background: rgba(18, 18, 18, 0.95);
      z-index: 111;
      text-align: right;
      padding-right: 20px;
      padding-top: 60px;
      color: $white-color;
      font-weight: 700;

      & span {
        font-size: 48px;
        color: $color;
        position: relative;
        top: -10px;
        right: 6px;
      }
    }
  }
}

// Laptops
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .counter {
    right: 4% !important;
    bottom: -52% !important;
  }

  .vertical-text span {
    bottom: 43% !important;
  }

  .navigation {
    bottom: -32% !important;
    left: 26% !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .item-content {
    margin-left: 273px !important;
  }

  .counter {
    right: 3% !important;
    bottom: -43% !important;
  }

  .vertical-text span {
    bottom: 43% !important;
  }

  .navigation {
    bottom: -25% !important;
    left: 17% !important;
  }
}

// tablet
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .social-bar {
    position: absolute;
    width: 100px;
    height: 134.6%;
  }

  .item-content {
    margin-left: 180px !important;
    h2 {
      font-size: 60px !important;
    }
  }

  .item-content:after {
    border-top: 100px solid $color !important;
    border-left: 116px solid $color !important;
    border-bottom: 100px solid $color !important;
  }

  .navigation {
    bottom: -19% !important;
    left: 18% !important;
  }

  .counter {
    right: 1% !important;
    bottom: -40% !important;
  }

  .vertical-text span {
    right: 9% !important;
    bottom: 50% !important;
  }
}

@media screen and (max-width: 767px) {
  
  .data-content {
    height: auto !important;
  }

  .social-bar {
    position: absolute !important;
    height: 90% !important;
    width: 70px !important;
  }

  .text-section-content {
    padding: 150px 0 !important;
    height: auto !important;
  }

  .item-content {
    margin-left: 232px !important;
    padding: 0 !important;
    text-align: center !important;
  }

  .item-content h2 {
    font-size: 60px !important;
    line-height: 60px !important;
  }

  .item-content:after,
  .vertical-text span {
    display: none !important;
  }

  .navigation {
    position: relative !important;
    left: 54% !important;
    bottom: 18% !important;
  }

  .counter {
    right: 0 !important;
    height: 75px !important;
    width: 136px !important;
    padding-top: 18px !important;
    right: 0 !important;
    bottom: 7% !important;

    span {
      font-size: 40px !important;
    }
  }
}
