<div class="data-content">
  <div class="social-bar">
    <div class="social-bar-content">
      <div class="social-bar-links">
        <a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="text-section">
    <div class="text-section-content">
      <div class="text-section-item">
        <div class="item-content">
          <h2>Minimalistic</h2>
          <h2>Architecture</h2>
          <h2>and More</h2>
          <a href="#" class="text-section-btn hover-opacity">See Project</a>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="prev">
        <span><i class="fa fa-arrow-left"></i> PREV</span>
      </div>
      <div class="next">
        <span>NEXT <i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
    <div class="vertical-text">
      <span>architecture</span>
    </div>
    <div class="">
      <div class="counter"><span>1 / 2</span></div>
    </div>
  </div>
</div>
