$black-color: #121212;
$links-color:#838383;
$green-color: #baff00;

.information-content {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 100px;


  &:after {
    content: "";
    position: absolute;
    width: 67%;
    height: 100%;
    right: 0;
    top: 0;
    background: #222222;
    z-index: 2;
  }

  .title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .title span {
    background: $green-color;
    padding: 0 10px;
    color: $black-color;
    display: inline-block;
  }

  .architecture-img {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background-image: url("../../../../assets/img/information-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    position: relative;
    z-index: 9;
  }

  .content {
    & h2 {
      color: #fff;
    }

    & p {
      color: #fff;
      margin-bottom: 30px;
    }

   .icon {
      display: inline-block;
      height: 80px;
      position: relative;
      width: 50px;
      margin-right: 40px;
      margin-bottom: 30px;
      & :last-child {
        margin-right: 0;
      }

      & img {
        position: absolute;
        left: 0;
        bottom: 0;
        max-height: 100%;
      }
    }


  }

}


@media screen and (min-width: 768px) and (max-width: 991px) {
   .information-content {
     background-color: #222222;
     margin-bottom: 0 !important;
     
   } 

  .architecture-img, .architecture-img:after {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .information-content {
    background-color: #222222;
    margin-bottom: 0 !important;
    
  } 

 .architecture-img, .architecture-img:after {
   display: none !important;
 }
}

@media screen and (min-width: 480px) and (max-width: 586px) {
  .information-content {
    background-color: #222222;
    margin-bottom: 0 !important;
    
  } 

 .architecture-img, .architecture-img:after {
   display: none !important;
 }
}

@media screen and (max-width: 479px)  {
  .information-content {
    background-color: #222222;
    margin-bottom: 0 !important;
    
  } 

 .architecture-img, .architecture-img:after {
   display: none !important;
 }
}