<div class="information-content">
  <div class="architecture-img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 pl-lg-0 offset-lg-5 content">
        <h2 class="title">Dare to dream of a modern <span>home</span></h2>
        <p>
          Pellentesque lorem dolor, malesuada eget tortor vitae, tristique
          lacinia lectus. Pellentesque sed accumsan risus, id aliquam nulla.
          Integer lorem risus, feugiat at mauris malesuada, accumsan
          pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor
          nisl iaculis ligula. Curabitur finibus dolor vel lectus pretium
          interdum a eget ante.
        </p>
        <div class="icons-section">
          <div class="icon">
            <img src="../../../../assets/icons/project-white.png" alt="flaticon" />
          </div>
          <div class="icon">
            <img src="../../../../assets/icons/architecture-white.png" alt="flaticon" />
          </div>
          <div class="icon">
            <img src="../../../../assets/icons/green-apartment.png" alt="flaticon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
