<div class="services-content">
  <div class="container">
    <div class="services-title">
      <h2>Services</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-data">
          <div class="service-icon-section">
            <div class="service-icon">
              <img src="../../../../assets/icons/project.png" alt="">
            </div>
          </div>
          <h3>Plans and Projects</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-data">
          <div class="service-icon-section">
            <div class="service-icon">
              <img src="../../../../assets/icons/architecture.png" alt="">
            </div>
          </div>
          <h3>Conceptual Architecture</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-data">
          <div class="service-icon-section">
            <div class="service-icon">
              <img src="../../../../assets/icons/apartment.png" alt="">
            </div>
          </div>
          <h3>Apartment Buildings</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-data">
          <div class="service-icon-section">
            <div class="service-icon">
              <img src="../../../../assets/icons/skyscrapers.png" alt="">
            </div>
          </div>
          <h3>Skyscrapers Buildings</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-data">
          <div class="service-icon-section">
            <div class="service-icon">
              <img src="../../../../assets/icons/documentation.png" alt="">
            </div>
          </div>
          <h3>Documentation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-data">
          <div class="service-icon-section">
            <div class="service-icon">
              <img src="../../../../assets/icons/restauration.png" alt="">
            </div>
          </div>
          <h3>Restauration Projects</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</div>
