$color: #baff00;
$black: #121212;
.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 50;

  .custom-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: none;
    padding-bottom: 0.5rem;

    .nav-logo {
      display: inline-block;
      background: $black;
      padding: 20px 60px 30px;
    }

    .menu {
      margin-left: 200px;
      font-weight: bold;

      .nav-link {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding: 20px 0px;
        margin: 0px 20px;
        display: inline-block;
        position: relative;
        opacity: 0.75;
      }

      .nav-link:hover {
        opacity: 1;
      }

      .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: $color;
      }


      .nav-link-fade-up::before {
        width: 100%;
        bottom: 5px;
        opacity: 0;
      }

      .nav-link-fade-up:hover::before {
        bottom: 10px;
        opacity: 1;
      }

      a {
        padding: 20px;
      }
      .contact-number {
        margin-right: 30px;
        background-color: $color;
        padding: 5px 10px;
      }
    }
  }

}


@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menu {
    margin-left: unset !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-logo {
    padding: 20px 40px 30px;
  }

  .custom-nav {
    .navbar-toggler {
      margin-left: 61%;
      font-size: 33px;
    }
    .menu {
      background-color: $black;
      padding: 15px;
      a {
        margin-right: 5px;
        font-size: 13px;
        padding: 37px 7px 5px;
      }
    }
  }
}
