<header class="header">
  <nav class="navbar-expand-lg navbar-light custom-nav">
    <a class="nav-logo" href="#">
      <img src="../../../../assets/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: white;"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link active nav-link-fade-up"  href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-fade-up" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-fade-up" href="#">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-fade-up" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-fade-up" href="#">CONTACT</a>
        </li>
      </ul>
      <span class="contact-number text-center">
        +555 55673488
      </span>
    </div>
  </nav>
</header>

